/* <link rel="stylesheet" href="https://hashinsert.github.io/graphy/Custom%20CSS/style.css"> */

/* This Removes teal color box shadow on all buttons */
.spectre .btn:focus {
  box-shadow: 0 0 0 0;
}

/* Terms and conditions checkbox bug */
i.form-icon,   i.form-icon:active,  i.form-icon:focus {
  border: 0.05rem solid #ffb234 !important;
  box-shadow: 0 0 0 0 !important;
}

.courseDiscId .card-footer {
color: black !important;
}
.navbar-section img {
max-width: 7rem !important;
}
.header {
box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
}
.loginBtn {
border-radius: 0.25rem !important;
color: white !important;
}
.modal-container .loginForm .clearfix a {
color: #ffb234;
}

.modal-container .loginForm .clearfix button.float-right {
background: #000 !important;
border-color: #000 !important;
color: 0.5rem solid #000 !important;
min-width: 80px !important;
border-radius: 0.25rem !important;
}

.modal-container .loginForm .clearfix button.float-left {
border: 0.05rem solid #ffb234;
color: #fff !important;
background: #ffb234 !important;
border-radius: 0.25rem !important;
}

.spectre #newUserBtn:hover,
.spectre #newUserBtn:focus {
background: #ffb234 !important;
}

/* #newSignupBtn:hover {
background: #ffff9c !important;
border-color: #ffb234 !important;
} */

div.text-center a#help-email {
color: #333333 !important;
}

.loginForm .form-input:focus {
border-color: #ffb234 !important;
box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
}

.signupForm .form-input:focus {
border-color: #ffb234 !important;
box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
}


.signupForm .form-checkbox input:checked + .form-icon {
background: #ffb234 !important;
box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
border-color: #ffb234 !important;
}
.signupForm .form-checkbox .form-icon {
border: 0.05rem solid #ffb234;
}

#alreadyUserBtn {
color: #FFF !important;
background: #FFB234 !important;
border-color: #ffb234 !important;
}
/* #alreadyUserBtn:hover {
background: #ffff9c !important;
border-color: #ffb234 !important;
} */

#newSignupBtn {
color: #FFF !important;
border-color: #000 !important;
background: #000 !important;
}

.showPasswordBtn {
border: 0.05rem solid #acbdd0 !important;
color: #364b60 !important;
}

.showPasswordBtn:hover,
.showPasswordBtn:focus {
background: #fff !important;
}

#loginFormHtml .modal-body .form-group a {
color: #333333 !important;
}

/* For View Privacy Policy / Cookie dialog box */
#viewPrivacyPolicyBtn {
border: .05rem solid #FFB234 !important;
color: #FFB234 !important;
}
#viewPrivacyPolicyBtn:hover, #viewPrivacyPolicyBtn:active, #viewPrivacyPolicyBtn:focus {
background: white !important;
}

#acceptCookiesBtn{
background: #FFB234 !important;
border: .05rem solid #FFB234 !important;
}

#acceptCookiesBtn:focus, #acceptCookiesBtn:active {
box-shadow:  0 0 0 0.1rem rgb(255 178 52/ 20%);
}
/* For View Privacy Policy / Cookie dialog box */

body {
font-family: "Athiti" inherit !important;
font-weight: 600;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
a {
font-family: "Athiti", sans-serif;
}
