/* <link rel="stylesheet" href="https://hashinsert.github.io/graphy/Custom%20CSS/style.css"> */

.courseDiscId .card-footer {
  color: black !important;
}
.navbar-section img {
  max-width: 7rem !important;
}
.header {
  box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
}
.loginBtn {
  border-radius: 0.25rem !important;
  color: white !important;
}
.modal-container .loginForm .clearfix a {
  color: #ffb234;
}

.modal-container .loginForm .clearfix button.float-right {
  background: #000 !important;
  border-color: #000 !important;
  color: 0.5rem solid #000 !important;
  min-width: 80px !important;
  border-radius: 0.25rem !important;
}

.modal-container .loginForm .clearfix button.float-left {
  border: 0.05rem solid #ffb234;
  color: #ffb234 !important;
  border-radius: 0.25rem !important;
}

div.text-center a#help-email {
  color: #333333 !important;
}

.loginForm .form-input:focus {
  border-color: #ffb234 !important;
  box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
}

.signupForm .form-input:focus {
  border-color: #ffb234 !important;
  box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
}

.spectre .btn:focus {
  box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
}

.spectre #newUserBtn:hover,
.spectre #newUserBtn:focus {
  background: #ffff9c !important;
}

.signupForm .form-checkbox input:checked + .form-icon {
  background: #ffb234 !important;
  box-shadow: 0 0 0 0.1rem rgb(255 178 52/ 20%);
  border-color: #ffb234 !important;
}
.signupForm .form-checkbox .form-icon {
  border: 0.05rem solid #ffb234;
}

#alreadyUserBtn {
  color: #ffb234 !important;
  border-color: #ffb234 !important;
}
#alreadyUserBtn:hover {
  background: #ffff9c !important;
  border-color: #ffb234 !important;
}

#newSignupBtn {
  color: #ffb234 !important;
  border-color: #ffb234 !important;
  background: #ffff9c !important;
}
#newSignupBtn:hover {
  background: #ffff9c !important;
  border-color: #ffb234 !important;
}

.spectre .signupForm .showPasswordBtn:focus {
  background: #ffff9c !important;
}

.showPasswordBtn {
  border: 0.05rem solid #ffb234 !important;
  color: #ffb234 !important;
}
.showPasswordBtn:hover {
  background: #ffff9c !important;
}

.showPasswordBtn:hover {
  background: #ffff9c !important;
}

#loginFormHtml .modal-body .form-group a {
  color: #ffb234 !important;
}

body {
  font-family: "Athiti" inherit !important;
  font-weight: 600;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
a {
  font-family: "Athiti", sans-serif;
}
